body {
  background-color: #f7f8f9;
}

div.header {
  width: 1440px;
  height: 130px;
  background-color: #dee2e6;
  padding: 32px;
  margin-bottom: 32px;
}

.page-title {
  font-size: 28px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 1.2px;
  text-align: center;
}

.page-sub {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
}

.table-section {
  display: none;
  margin-top: 24px;
  width: 1002px;
}

.table-head div {
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 43px;
  letter-spacing: 0px;
  text-align: left;
  color: #252525;
}

.number-of-entries {
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  color: #000000;
  margin-bottom: 16px;
}

.row div {
  text-align: left;
  padding-left: 8px;
}

.table-row {
  height: 60px;
}

.form-check label {
  margin: 0;
  padding-left: 8px;
}

.form-check input {
  width: fit-content;
}

.table-row div {
  line-height: 60px;
  color: #212529;
  font-size: 14px;
}

.instruct {
  margin-bottom: 18px;
}

.progress-bar-container {
  background-color: grey;
  width: 484px;
  height: 16px;
  border-radius: 3px;
}

.progress-bar {
  background-color: #009639;
  height: 16px;
}

form#msform,
div.form-header {
  width: 1056px;
  margin: 0 auto;
}

.form-header {
  align-items: center;
  margin-bottom: 24px;
}

input,
label {
  display: block;
}

input {
  width: 100%;
}

button.find-gasket-btn {
  width: 151px;
  margin-top: 32px;
}

.button-container button {
  margin: 0px 8px;
}

.form-sect {
  width: 488px;
}

#msform .fieldset:not(:first-of-type) {
  display: none;
}

.button-container {
  display: none;
}

.field-container {
  width: 1000px;
}

.fieldset {
  background-color: white;
  border: 1px solid #c0c0c0;
  padding: 32px;
  flex-direction: column;
  align-items: center;
}

.find-gask-cont {
  flex-direction: column;
  align-items: center;
}

.step-text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  padding-right: 24px;
}

#myModal {
  position: relative;
  height: 100vh;
}

.modal-flex-container {
  flex-direction: column;
  align-items: center;
  background-color: #e5e5e5;
  width: fit-content;
  margin: 0 auto;
  padding-bottom: 64px;
}
