body {
  background-color: #f7f8f9;
}

div.header {
  width: 1440px;
  height: 130px;
  background-color: #dee2e6;
  padding: 32px;
  margin-bottom: 32px;
}

.page-title {
  font-size: 28px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 1.2px;
  text-align: center;
}

.page-sub {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
}

.table-section {
  display: none;
}

.table-head div {
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0px;
  text-align: left;
  color: #252525;
}

.number-of-entries {
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  color: #000000;
}

div.row div.col-sm {
  width: 250px;
  text-align: left;
}

div.instruct {
  margin-bottom: 18px;
}

.progress-bar-container {
  background-color: grey;
  width: 484px;
  height: 16px;
  border-radius: 3px;
}

.progress-bar {
  background-color: #009639;
  height: 16px;
}

form#msform,
div.form-header {
  width: 1056px;
  margin: 0 auto;
}

div.form-header {
  align-items: center;
  margin-bottom: 24px;
}

div.form-card {
}

input,
label {
  display: block;
}

input {
  width: 100%;
}

button.find-gasket-btn {
  width: 151px;
}

div.form-sect {
  width: 488px;
}

#msform .fieldset:not(:first-of-type) {
  display: none;
}

div.fieldset {
  background-color: white;
  border: 1px solid #c0c0c0;
  padding: 32px;
  flex-direction: column;
  align-items: center;
}

div.find-gask-cont {
  margin-top: 32px;
  flex-direction: column;
  align-items: center;
}

.step-text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  padding-right: 24px;
}

#myModal {
  position: relative;
  height: 100vh;
}

div.modal-flex-container {
  flex-direction: column;
  align-items: center;
  background-color: #e5e5e5;
  width: fit-content;
  margin: 0 auto;
  padding-bottom: 64px;
}
